/*header*/
header{
  clear: none;
  height: 180px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
header .header1{
  display: flex;
  flex-direction: column;
  
}
/*need a better way to get this on the right side of the page*/
.logo{
  width: 200px;
}

.tip{
  margin-left: 40px;
}
.tip p{
  color: grey;
  font-size: 1.2rem;
}
.tip p a{
  color: green;
  text-decoration: none;
}


nav ul{
  display: flex;
}
nav ul li{
  list-style-type: none;
  margin-right: 5%;
}
nav ul li a{
  text-decoration: none;
  margin: 5%;
  font-size: 1.4rem;
  color: rgb(35, 34, 34);
}

/*header2*/
header .header2{
  margin-left: 40%;
  width: 33%;
}

.socialMedia{
  font-size: 1.2rem;
  color: grey;
}
.socialMedia a{
  text-decoration: none;
  color: grey;
  background-color: lightgray;
  padding: 2%;
  font-size: 0.8rem;
}

.msg .msgBtn{
  color: white;
  background-color: rgb(73, 72, 72);
  height: 35px;
  width: 115px;
}

.msg input{
  height: 29px;
  width: 165px;
  color: green;
}

.msg input::placeholder{
  color: green;
}


.msg .search{
  height: 35px;
}

/*sub-bar after the nav*/
.bar{
  background: green;
  height: 50px;
}

.bar div{
  margin: -24px 0px;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.bar div a{
  text-decoration: none;
  color: white;
}

.bar div h4{
  font-family: 'Raleway', sans-serif;
  margin-right: 5px;
}

.bar div h5{
  font-family: 'Roboto', sans-serif;
  margin-right: 5px;
}

.bar div a{
  font-weight: bold;
}

/*main content*/

main{
  height: 800px;
  border: 2px solid black;
  width: 73%;
  float: left;  
}

.videoSection{
  height: 800px;
  border: 2px solid black;
  float: left;
  width: 65%;
}

main .videoSection div{
  font-family: 'Inter', sans-serif;
  display: flex;
  font-size: 1.3rem;
  letter-spacing: .1rem;
}


main .videoSection div .mainTitle1{
  color: rgb(35, 34, 34);
  margin-right: 5px;
}
main .videoSection div .mainTitle2{
  color: green;
}

/*mock video*/
.watchNow{
  width: 99%;
}
.video{
  width: 99%;
  float: left;
}

main .videoSection p{
  color: lightgrey;
  font-style: italic;
  font-size: 1.2rem;

}

/*middle main section*/
.featuredStories{
  width: 29%;
  float: left;

}

.featuredStories h2{
  font-family: 'Inter', sans-serif;
  font-size: 1.8rem;
  color: rgb(35, 34, 34);
  margin-bottom: 7px;
}

.featuredStories div{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  margin-bottom: -30px;
  font-size: 1.5rem;
}

.featuredStories div h6 span{
  color: lightgrey;
  font-style: italic;
  font-size: 1rem;
}

.featuredStories div img{
  margin-right: 5px;
}

.subscriptions{
  height: 800px;
  border: 2px solid black;
  width: 25%;
  float: left;  

}








